[submodule "vendor/celld"]
	path = vendor/celld
	url = https://github.com/denoland/celld
[submodule "vendor/drizzle-orm-docs"]
	path = vendor/drizzle-orm-docs
	url = https://github.com/drizzle-team/drizzle-orm-docs
[submodule "vendor/drizzle-orm"]
	path = vendor/drizzle-orm
	url = https://github.com/drizzle-team/drizzle-orm
[submodule "vendor/neon-serverless"]
	path = vendor/neon-serverless
	url = https://github.com/neondatabase/serverless
